.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-button {
  background: #61dafb;
  color: white;
  border: none;
  width: 100%;
  height: 7vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-dashboard {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.App-weather {
  padding: 3vh;
  font-size: calc(10px + 1vmin);
  border: 2px solid white;
  border-radius: 5px;
}

.App-weather-date {
  font-size: calc(10px + 2vmin);
}

.App-weather-status {
  font-weight: 600;
  margin-top: 3vh;
}

.App-weather-temp {
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.App-weather-max-temp, .App-weather-min-temp {
  margin-top: 1vh;
  text-align: right;
  font-size: calc(10px + 0.5vmin);
}

.App-error-popup {
  text-align: center;
  background-color: red;
  font-size: calc(10px + 1vmin);
  animation: shake 0.3s;
}

@keyframes shake {
  0% { transform: translate(1px); }
  10% { transform: translate(-1px); }
  20% { transform: translate(-3px); }
  30% { transform: translate(-1px); }
  40% { transform: translate(1px); }
  50% { transform: translate(3px); }
  60% { transform: translate(1px); }
  70% { transform: translate(-1px); }
  80% { transform: translate(-3px); }
  90% { transform: translate(-1px); }
  100% { transform: translate(0); }
}
